const {resolve} = require('path');

module.exports = {
	db:{
		protocol: '',
		host:'',
		options:'',
		name:'',
		user:'',
		password:''
	},
	hashRounds:11,
	ssl:{
		cert: resolve('ssl',''),
		key: resolve('ssl','')
	},
	ports:{
		http:8088,
		https:4443
	},
	jwt:{
		secret:''
	}
}