<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>
        {{ title }}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/static/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/app.css"/>
</head>

<body>
<header>
    <div class="logo">
        <a href="/"><img src="/static/images/icons/birds/bird.png" alt="bird"></a>
    </div>

    {% include "components/navbar.twig" %}
</header>
<div class="wrap">

    {% block content %}{% endblock %}
</div>


{% include "components/footer.twig" %}


<!-- jQuery -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
	$.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/javascripts/dev/main.js"></script>


</body>

</html>