<nav>
    <div class="main-menu">
        <a href="/chirps/new" class="bt-touite">Chirp</a>
        {% if session.user is not empty %}
            <a href="/users/logout" class="bt-touite">Logout</a>
        {% else %}
            <a href="/users/logout" class="bt-touite">Logout</a>
        {% endif %}
    </div>
</nav>